*{
  margin:0px;
  padding:0px;
}
.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}
#header{
  height:40px;
  width: 100%;
  background-color:#02745d;
  position:-webkit-sticky;
  position:fixed;
  top:0;
} 
#header p{
  margin: 0;
  padding: 0;
  font-size:24px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color:rgb(255, 255, 255);
   text-align:center;
  line-height: 40px;
}

ul {
list-style-type: none;
top: 40px;
width: 100%;
overflow: hidden;
background-color:#039174;
position: -webkit-sticky;
position:fixed;
}

li {
float:left;
width:25%;
height: 40px;
line-height: 40px;
text-align: center;
}

li a {
  display:block;
  float: left;
  padding: 0px 130px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration:none;
  overflow: hidden;
}

li a:hover {
  background-color: #02745d;
  text-decoration:underline;
  color: rgb(255, 255, 255);
}

#footer {
  background-color:#00483A;
  color:white;
  clear:both;
  text-align:center;
  padding:5px; 
}

img{
padding-top: 80px;
}
#para{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 20px;
  padding-bottom: 5%;
  }